<ul>
    <li>
        <app-login-button *ngIf="(auth.isAuthenticated$ | async) === false; else logout"/>
        <ng-template #logout>
            <app-logout-button/>
        </ng-template>
    </li>
    <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
    <li><a routerLink="/books" routerLinkActive="active">Books</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/protected" routerLinkActive="active">Protected</a></li>
</ul>
