button {
  background-color: #333;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  &:hover:not(.active) {
    background-color: blue;
    cursor: pointer;
  }
}
